# PhantomArch Syslinux Configuration (BIOS Boot)

DEFAULT phantomarch
PROMPT 1
TIMEOUT 50

UI vesamenu.c32
MENU TITLE PhantomArch 1.0 Phantom
MENU COLOR border       30;44   #40bd93f9 #00000000 std
MENU COLOR title        1;36;44 #ff00fff7 #00000000 std
MENU COLOR sel          7;37;40 #ff0a0a12 #ffbd93f9 all
MENU COLOR unsel        37;44   #fff8f8f2 #00000000 std
MENU COLOR help         37;40   #ff8b8da3 #00000000 std
MENU COLOR timeout_msg  37;40   #ff00fff7 #00000000 std
MENU COLOR timeout      1;37;40 #ffbd93f9 #00000000 std

LABEL phantomarch
    MENU LABEL PhantomArch (linux-zen)
    LINUX /arch/boot/x86_64/vmlinuz-linux-zen
    INITRD /arch/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=arch archisosearchuuid=%ARCHISO_UUID% quiet splash

LABEL phantomarch-safe
    MENU LABEL PhantomArch — Modo Seguro
    LINUX /arch/boot/x86_64/vmlinuz-linux-zen
    INITRD /arch/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=arch archisosearchuuid=%ARCHISO_UUID% nomodeset

LABEL phantomarch-nvidia
    MENU LABEL PhantomArch — NVIDIA
    LINUX /arch/boot/x86_64/vmlinuz-linux-zen
    INITRD /arch/boot/x86_64/initramfs-linux-zen.img
    APPEND archisobasedir=arch archisosearchuuid=%ARCHISO_UUID% quiet splash nvidia_drm.modeset=1

LABEL reboot
    MENU LABEL Reiniciar
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL Desligar
    COM32 poweroff.c32
