[Desktop Entry]
Type=Application
Version=1.0
Name=FexNav
GenericName=Web Browser
Comment=Navegador oficial FexOS — Rápido, com IA, sem Electron
Exec=fexnav %u
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
Keywords=browser;internet;web;navegador;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=FexNav
