# PhantomArch GRUB Configuration (Live ISO)

set default=0
set timeout=5
set gfxmode=auto
set gfxpayload=keep

insmod all_video
insmod gfxterm
insmod png

terminal_output gfxterm

# Theme
# loadfont /boot/grub/fonts/unicode.pf2
set color_normal=light-gray/black
set color_highlight=cyan/black

menuentry "PhantomArch (linux-zen)" --class arch --class gnu-linux {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux-zen archisobasedir=arch archisosearchuuid=%ARCHISO_UUID% \
        quiet splash loglevel=3 nowatchdog nmi_watchdog=0 \
        threadirqs transparent_hugepage=always
    initrd /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "PhantomArch (linux-zen) — Modo Seguro" --class arch --class gnu-linux {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux-zen archisobasedir=arch archisosearchuuid=%ARCHISO_UUID% \
        nomodeset single
    initrd /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "PhantomArch (linux-zen) — NVIDIA" --class arch --class gnu-linux {
    set gfxpayload=keep
    linux /arch/boot/x86_64/vmlinuz-linux-zen archisobasedir=arch archisosearchuuid=%ARCHISO_UUID% \
        quiet splash loglevel=3 nowatchdog nmi_watchdog=0 \
        nvidia_drm.modeset=1 nvidia_drm.fbdev=1 \
        threadirqs transparent_hugepage=always
    initrd /arch/boot/x86_64/initramfs-linux-zen.img
}

menuentry "PhantomArch — Memtest86+" --class memtest {
    linux /boot/memtest86+/memtest.bin
}

menuentry "Reiniciar" --class restart {
    reboot
}

menuentry "Desligar" --class shutdown {
    halt
}
